/* Custom page footer */
.footer {
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-align: center;
  background-color: #e7e7e7;
  height : 3.5em;
}

.wrapper {
  min-height: 100%;
}

.navbar {
  font-size: large;
}

html,body{
  height: 100%
}
body{
  background: linear-gradient(#252519,#006666) fixed;
  overflow-x: hidden;
}

#logo-cheztone {
  width: 4em;
  height: 2.5em;
  background: url("../images/chezTone.gif") no-repeat;
  background-size: 100%;
}

.navbar-brand {
  padding-top: 3px !important;
}

.thumbnail > .thumbnail-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.thumbnail-image{
  height: 6em;
  max-width: 20em;
  background-size: 100%;
  background-repeat: no-repeat;
}

.caption {
  min-height: 12em;
}

.squirrel{
  height: 30em;
  max-width: 25em;
  background: url("../images/1-SE.gif") no-repeat;
  background-size: 100%;
}

.apache-image{
  background-image: url("../images/apache.gif");
}

.git-image {
  max-width:7em;
  background-image: url("../images/git.gif");
}

.mongoDB-image {
  background-image: url("../images/mongoDB.gif");
}

.angular-image{
  background-image: url("../images/AngularJS.png");
}

.grunt-image{
  max-width:6em;
  background-image: url("../images/grunt.svg");
}

.bower-image{
  max-width:6em;
  background-image: url("../images/bower.png");
}

.jetbrains-image{
  max-width:15em;
  background-image: url("../images/jetbrains.png");
}

.blender-image{
  max-width:6em;
  background-image: url("../images/blender-logo.png");
}

.spring-image{
  max-width:15em;
  background-image: url("../images/spring-logo.png");
}

.lang {
  padding-right: 1em;
}


