/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

#logo-cheztone {
  width:4em;
  height:2.5em;
}

.navbar-brand {
  padding-top:3px !important;
}

