@import "../menu/menu";
@import "../about/about";
@import "../game/game";

.footer {
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-align: center;
  background-color: #e7e7e7;
  height : 3.5em;
  bottom : 0;
}

html,body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: arial, sans-serif;
  font-size: small;
  color: #666;
  overflow: hidden;
}

body{
  background: linear-gradient(#252519,#006666) fixed;
  overflow-y: scroll;

  &::-webkit-scrollbar{
    border:1px gray solid;
    border-radius:10px;
    width : 0.5em;
    box-shadow:0 0 6px gray inset;
  }

  &::-webkit-scrollbar-thumb{
    background-color:#004444;
    border-radius:10px;
  }
  &::-webkit-scrollbar-thumb:hover{
    background-color:#219161;
    border:1px solid #333333;
  }
  &::-webkit-scrollbar-thumb:active{
    background-color:#0480be;
    border:1px solid #333333;
  }
}

.squirrel{
  height: 30em;
  max-width: 25em;
  background: url("../images/1-SE.gif") no-repeat;
  background-size: 100%;
}

.container {
  height:auto !important; /* real browsers */
  min-height: 90%;
}