/* Custom page footer */
.footer {
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}

.footer{
  background-color: #e7e7e7;
  height : 3.5em;
}

.wrapper {
  min-height: 100%;
}

html,body{
  height: 100%
}
body{
  background: linear-gradient(#252519,#006666) fixed;;
}

#logo-cheztone {
  width: 4em;
  height: 2.5em;
  background-image: url("../images/chezTone.gif");
  background-size: 100%;
  background-repeat: no-repeat;
}

.navbar-brand {
  padding-top: 3px !important;
}

.thumbnail > .thumbnail-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.thumbnail-image{
  height: 6em;
  max-width: 20em;
  background-size: 100%;
  background-repeat: no-repeat;
}

.squirrel{
  height: 30em;
  max-width: 25em;
  background-image: url("../images/1-SE.gif");
  background-size: 100%;
  background-repeat: no-repeat;
}

.apache-image{
  background-image: url("../images/apache.gif");
}

.git-image {
  max-width:7em;
  background-image: url("../images/git.gif");
}

.mongoDB-image {
  background-image: url("../images/mongoDB.gif");
}
